/* Customize your main colors in :root variables */
:root {
  --main-background-color: #777a83;
  --card-background-color: #6d6d6d;
  --card-background-lighter-color: #7a7f92;
  --main-text-color: #fbb800;
  --title-text-color: #3cba8b;
}

@font-face {
  font-family: PokemonHollow;
  src: url("font/Pokemon Hollow.ttf");
}

@font-face {
  font-family: PokemonSolid;
  src: url("font/Pokemon Solid.ttf");
}
body {
  background-color: var(--main-background-color);
  /*background: url("img/background.png");
  background-size: cover;*/

  font-family: "PokemonSolid";
  font-size: 1.1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: PokemonHollow;
}
h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}
